

body
{
   font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    font-size: 14px;
 background-color:#ddd;
  
}

body header{
    text-align:center;
  font-size:50px;
}

body div {
   text-align:center;
}

div section{
   text-align:center;
}

nav div {
  display: inline-block;
}
footer {
  padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-color: #ccc;
  color: #666;
}